body {
  background: #f3f3f3;
  font-family: "Assistant", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgba(254, 254, 254, 0.9960784314);
  padding: 10px;
  border-radius: 15px;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand:hover {
  color: #fbf418;
}

.nav-link {
  color: #000;
  font-weight: normal;
  font-size: 1rem;
}

.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, rgb(2, 0, 36) 37%, rgb(13, 122, 196) 59%, rgb(255, 0, 0) 77%);
  border-radius: 1px;
  opacity: 1px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.27s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: aplha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(13, 122, 196) 76%, rgb(255, 21, 0) 100%);
}

header {
  padding: 180px 0px 160px;
  min-height: 170px;
  background: url(/image/bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -80px;
}
header h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 2rem;
  font-weight: bold;
}
header p {
  color: #fff;
  text-shadow: 2px 2px #000;
}

.btn-get-started {
  background-color: #1987f6;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 2px 3px #000;
}

.btn-get-started:hover {
  background-color: #0b6ccc;
  color: #fefefe;
  border: 1px solid #000;
  font-weight: 600;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}
.section-stats h3,
.section-stats p {
  text-align: center;
}
.section-stats h3 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 16px;
  font-weight: lighter;
}

.section-vehicles {
  min-height: 540px;
  background-color: #0267cd;
  margin-top: -50px;
}
.section-vehicles .vehicles-heading h2 {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.section-vehicles h2,
.section-vehicles p {
  color: #fff;
}
.section-vehicles .section-vehicles-content {
  padding: 20px;
}
.section-vehicles .section-vehicles-content .section-vehicles-item .card {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-vehicles .section-vehicles-content .section-vehicles-item .card .card-title {
  font-size: 1rem;
  font-weight: 800;
}
.section-vehicles .section-vehicles-content .section-vehicles-item .card .card-text {
  color: #000;
}
.section-vehicles .section-vehicles-content .section-vehicles-item .card .btn-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-services {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-services .services-heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.section-services .section-services-content .box-container {
  margin-top: -20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.section-services .section-services-content .box-container .box {
  background: #000;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  border: 0.2rem solid #000;
  margin-top: 3rem;
}
.section-services .section-services-content .box-container .box:hover {
  border: 5px solid #0ea5e9;
}
.section-services .section-services-content .box-container .box i {
  font-size: 3rem;
  color: #0ea5e9;
  margin-bottom: 2rem;
}
.section-services .section-services-content .box-container .box h3 {
  font-size: 1.5rem;
  color: #fefefe;
}
.section-services .section-services-content .box-container .box p {
  padding: 1rem 0;
  font-size: 1rem;
  color: #f3f3f3;
  line-height: 2;
}

.section-testimonial {
  padding-top: 50px;
  background: #dedede;
  min-height: 506px;
}
.section-testimonial .testi-heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.section-testimonial .section-testi-content {
  margin-top: 20px;
  padding-bottom: 50px;
}
.section-testimonial .section-testi-content .card-testi {
  padding: 40px 20px 10px;
  margin-bottom: 20px;
  border-radius: 11px;
}
.section-testimonial .section-testi-content .card-testi .card-body {
  min-height: 360px;
}
.section-testimonial .section-testi-content .card-testi .card-text {
  font-size: 24px;
  font-family: "Assistant";
  font-weight: 300;
  text-align: center;
  color: #6e6e6e;
}

.section-details {
  margin-top: -120px;
}

.card-details {
  padding: 40px 20px 10px;
}
.card-details img {
  display: block;
  margin: auto;
}
.card-details p {
  color: #000;
  font-size: 1.2rem;
}

.card-information {
  padding: 20px;
  min-height: 200px;
}
.card-information hr {
  color: #0b6ccc;
}

.detail-content table {
  width: 100%;
  border-collapse: collapse;
}
.detail-content th,
.detail-content td {
  text-align: left;
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  padding: 8px;
}
.detail-content th i {
  margin: 0px 30px; /* Agar ikon berada di tengah kolom */
}

.btn-rent {
  padding: 10px;
}
.btn-rent:hover {
  background: #0ed807;
  border: none;
}
.btn-rent i {
  font-size: 1.4rem;
}

.header {
  padding: 100px;
  min-height: 300px;
  background: #dcdada;
  margin-top: -80px;
}

footer {
  background: #1987f6;
  min-height: 100px;
  padding: 20px;
}
footer .nav-link {
  font-weight: 400;
  font-size: 1rem;
  color: #f3f3f3;
}
footer p {
  color: #fff;
}

@media screen and (max-width: 600px) {
  header {
    background-size: cover;
    background-position: center;
    padding: 80px 10px 60px;
    height: auto;
  }
  header h1 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  header p {
    font-size: 10px;
  }
  .btn-get-started {
    padding: 10px;
    font-size: 14px;
  }
  .section-stats {
    margin-top: -30px;
  }
  .section-stats .stats-detail {
    padding-left: 20px;
  }
  .section-stats h3 {
    font-size: 20px;
  }
  .section-stats p {
    font-size: 14px;
  }
  .section-vehicles .vehicles-heading {
    margin-top: 70px;
  }
  .section-vehicles h2 {
    font-size: 1.5rem;
  }
  .section-vehicles p {
    font-size: 14px;
  }
  .section-services-content .box-container {
    grid-template-columns: 1fr;
  }
  .section-services-content .box-container .box {
    padding: auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .section-details {
    margin-top: -100px; /* Adjust the margin for smaller screens */
  }
  .section-details img {
    padding: auto;
    width: 100%;
  }
  .card-details {
    padding: 20px; /* Adjust padding for smaller screens */
  }
  .card-information {
    min-height: 150px; /* Adjust min-height for smaller screens */
  }
}/*# sourceMappingURL=main.css.map */